{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>

{% include "messages.html" %}
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		<br>
		<br>

	<!-- Shoping Cart -->
	{% comment %} <form class="bg0 p-t-75 p-b-85"> {% endcomment %}
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-10 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-5">Remove</th>
								</tr>
								{% for cart_item in cart_items %}
								<tr class="table_row" data-product-id="{{ cart_item.product.id }}">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{ cart_item.product.image.url }}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{ cart_item.product.name }}</td>
									<td class="column-3">$ {{ cart_item.product.price }}</td>
									<td class="column-4">
										<input class="bg-light w-50 rounded p-2 px-3" type="number" name="num-product1" value="{{ cart_item.quantity }}" min="1" step="1" onchange="updateQuantity({{ cart_item.id }}, this.value)">
									</td>
									<td class="column-5">${{ cart_item.total_price }}</td>
									<td class="text-center">
										<a href="{% url 'remove' cart_item.id %}">
											<p style="font-size:24px;" class="text-dark">X</p>
										</a>
									</td>
								</tr>
								<tr>
									<td></td>
								</tr>
								{% endfor %}
							</table>
						</div>
			
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								
							</div>
							<a href="">
								<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
									Update Cart
								</div>
							</a>
						</div>
					</div>
				</div>
			
				<div class="col-sm-10 col-lg-8 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>
			
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>
			
							<div class="size-209">
								<span class="mtext-110 cl2">
									${{total_price}}
								</span>
							</div>
						</div>
						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Discount:
								</span>
							</div>
			
							<div class="size-209">
								<span class="mtext-110 cl2">
									${{total_discount}}
								</span>
							</div>
						</div>
			
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>
			
							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									${{discounted_amount}}
								</span>
							</div>
						</div>
						<a href="{% url "checkout" %}">
							<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
								Proceed to Checkout
							</button>
						</a>
					</div>
				</div>
			</div>
			
			
		</div>
	{% comment %} </form> {% endcomment %}
		
	
	<script>
		function updateQuantity(cartItemId, newQuantity) {
			$.ajax({
				url: '{% url "update_cart_item_quantity" %}',
				method: 'POST',
				data: {
					'cart_item_id': cartItemId,
					'quantity': newQuantity,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function(response) {
					if (response.success) {
						// Update the total price and discounted amount
						$('tr[data-product-id="' + response.product_id + '"] .column-5').text('$' + response.new_total_price);
						$('#total_price').text('$' + response.total_price);
						$('#discounted_amount').text('$' + response.discounted_amount);
					}
				}
			});
		}
		</script>
{% endblock %}